* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    height: 10vh;
    width: 100%;
}

.main {
    display: flex;
    flex: 1;
}

#nav {
    width: 15%;
    background-color: #f4f4f4;
    padding: 1em;
    height: 80vh;
}

.container {
    width: 85%;
    display: flex;
    flex-direction: column;
}

#mid1 {
    padding: 1em;
}

#mid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    padding: 1em;
}

/* Produkt */
.product {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    transition: all 0.3s ease-in-out;
}

.product h2 {
    text-align: center;
}

.product-checkbox {
    display: none;
}

/* Zachowanie dla wybranego produktu */
.product-checkbox:checked + .product {
    grid-column: 1 / -1; /* Rozciąga produkt na całą szerokość */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: flex-start;
    height: 60vh; /* Powiększenie wysokości */
}

/* Ustawienie dla wybranego produktu na dużych ekranach */
@media (min-width: 1024px) {
    #mid2 {
        grid-template-columns: repeat(4, 1fr); /* 4 kolumny na dużych ekranach */
    }

    .product-checkbox:checked + .product {
        grid-column: 1 / 2; /* Produkt przesuwa się na lewą stronę */
        height: auto;
    }
}

/* Małe ekrany */
@media (max-width: 768px) {
    .product-checkbox:checked + .product {
        height: 50vh; /* Powiększenie produktu tylko na wysokość */
    }
}

.short-description {
    display: block;
    margin-top: 0.5em;
}

.expanded-description {
    display: none;
}

.product-checkbox:checked + .product .short-description {
    display: none;
}

.product-checkbox:checked + .product .expanded-description {
    display: block;
    grid-column: 2;
    background-color: #f9f9f9;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    height: 10vh;
    width: 100%;
}
